.font-title {
    font-family: 'Ubuntu', 'Arial', sans-serif;
    font-size: 2em;
    font-weight: 500;
    line-height: 130%;
    font-style: normal;
}
.title {
    display: none;
}
.font-main {
    font-family: 'Ubuntu', 'Arial', sans-serif;
    font-size: 1.5em;
    line-height: 110%;
    font-weight: 400;
    font-style: normal;
}
.font-italic {
    font-family: 'Ubuntu', 'Arial', sans-serif;
    font-size: 20px;
    line-height: 110%;
    font-weight: 400;
    font-style: italic;
}
.page-wrapper {
    background: linear-gradient(90deg, #fff 0%, rgba(85, 85, 85, 0.705) 50%, #777 100%);
}
.meme-section {
    margin: 0 auto;
    padding: 10px;
    width: 100%;
    height: 100vh;
}
.meme-slider {
    margin: 0 auto;
    overflow: hidden;
    max-width: 50%;
    display: grid;
    grid-template-columns: 6fr 4fr;
    grid-auto-flow: row;
    align-items: center;
    gap: 10px;
}
.slider-track {
    grid-column: span 2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: all .8s ease;
}
.meme {
    min-width: 100%;
    max-width: 100%;
    padding: 0 5px;
    border: 2px red solid;
    box-sizing: border-box;
}
.meme img {
    width: 100%;
    border-radius: 20px;
}
.hidden {
   visibility: hidden;
   height: 0;
   width: 0;
}
.labels {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}
.label {
    width: 15px;
    height: 15px;
    border: 2px solid #000000;
    border-radius: 100%;
    cursor: pointer;
    transition: all .8s ease;
}
.description {
    text-align: left;
    margin: 0;
}
#text_for_slide_1,
#text_for_slide_2,
#text_for_slide_3,
#text_for_slide_4,
#text_for_slide_5,
#text_for_slide_6 {
    visibility: hidden;
    height: 0;
    transform: translateY(100%);
    transition: transform 1s ease;
}

/* добавляем поведение для слайдера 
(закрашиваем нужный переключатель и сдвигаем изображение) */ 
.label:hover, 
#slide1:checked ~ .labels #label1,
#slide2:checked ~ .labels #label2,
#slide3:checked ~ .labels #label3,
#slide4:checked ~ .labels #label4,
#slide5:checked ~ .labels #label5,
#slide6:checked ~ .labels #label6  {
    background-color: aqua;
}
#slide1:checked ~ .slider-track {
    transform: translateX(0%);
}
#slide2:checked ~ .slider-track {
    transform: translateX(-100%);
}
#slide3:checked ~ .slider-track {
    transform: translateX(-200%);
}
#slide4:checked ~ .slider-track {
    transform: translateX(-300%);
}
#slide5:checked ~ .slider-track {
    transform: translateX(-400%);
}
#slide6:checked ~ .slider-track {
    transform: translateX(-500%);
}

/* добавляем эффект появления для текста */ 
#slide1:checked ~ .text #text_for_slide_1,
#slide2:checked ~ .text #text_for_slide_2,
#slide3:checked ~ .text #text_for_slide_3,
#slide4:checked ~ .text #text_for_slide_4,
#slide5:checked ~ .text #text_for_slide_5,
#slide6:checked ~ .text #text_for_slide_6 {
    visibility: visible;
    height: auto;
    transform: translateY(0%);
}
